.page-title {
  margin-bottom: 30px;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.mat-sidenav {
  width: 125px;
}

.mat-sidenav-content {
  padding: 50px 50px 0 50px;
  min-height: calc(100vh - 50px);
}

.mat-divider-horizontal {
  margin: 10px 0;
}

.branding-logo {
  width: 75px;
  margin: 0 auto;
  display: block;
}

.mat-nav-list .mat-list-item {
  &:hover,
  &.active {
    color: #FFFFFF;
    background-color: #013369;
  }
}
